$main-color: #F4C550;
$secondary-color: #FBE9BA;
$error-message: red;

$bg-color-main: #FFFFFF;
$bg-color-secondary: #F8F8F8;
// $bg-color-hero: #F8F8F8;
$bg-color-registrarion: #121417;

$btn-active-color: #f4bd33;
// $btn-hover-orange: #FBE9BA;
$btn-hover-blue: rgb(65, 129, 248);
$btn-active-blue: rgb(21, 85, 202);

$green-color: #38CD3E;
$star-color: #FFC531;
$input-border: rgba(18, 20, 23, 0.10);
$color-blue: rgb(21, 85, 202);
$backdrop-bg: rgba(0, 0, 0, 0.8);
$radio-border: rgba(0, 0, 0, 0.2);
$levels-list-border: rgba(23, 21, 18, 0.2);
$bg-avatar-default: #ededed;
$avatar-user-default: #8A8A89;

$text-color-main: #121417;
$text-color-secondary: #8A8A89;
$text-color-transparent-02: rgba(18, 20, 23, 0.2);
$text-color-transparent-07: rgba(18, 20, 23, 0.7);